{{!-- <nav class="navbar navbar-expand-md   navbar-light bg-light px-5">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
       <div class="btn-nav">
        <div class="auth">
            <a href="#" class="sign-in text-decoration-none">Sign In</a>
            <a href="#" class="sign-up text-decoration-none">Sign Up</a>
        </div>
    </div>
  <div class="collapse  navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto gap-3">
      <li class="nav-item active">
        <a class="nav-link" href="#">Voyageu</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Chauffeur</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Discover</a>
      </li>
    </ul>
</nav> --}}

<nav class="navbar navbar-expand-md nav-top px-md-5 px-3 fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand logo" href="#">Trans<span>kin</span></a>
    <button class="navbar-toggler border-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon border-light"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto ms-md-auto gap-4 mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" href="#">Voyageur</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Chauffeu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light " aria-disabled="false">Discover</a>
        </li>
      </ul>
   <div class="btn-nav">
        <div class="auth">
            <a href="/login" class="sign-in text-decoration-none">Sign In</a>
            <a href="/" class="sign-up text-decoration-none">Sign Up</a>
        </div>
   </div>
  </div>
</nav>