<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="boxicons.min.css.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="bootstrap.min.css">
</head>
</head>
<body>
    <div class="global">


        {{{body}}}
    </div>

    <script src="/js/jquery.js"></script>
    <script src="bootstrap.bundle.min.js"></script>
</body>
</html>