       <div>
         {{> header}}
       </div>

<div class="home-content">
    <div class="home">
            <div class="content">
                <h1>trans<span>kin</span></h1>
                <h2>Faites vos courses en toute tranquilité</h2>
                <a href="#" class="discov text-decoration-none">Discover</a>
            </div>
            <div class="medias">
                <a href="" class="icon">
                <img src="/images/facebook.png" alt="">
                </a>
                <a href="" class="icon">
                    <img src="/images/whatsapp.png" alt="">
                </a>
                <a href="" class="icon">
                    <img src="/images/instagram.png" alt="">
                </a>
                <a href="" class="icon">
                    <img src="/images/telegram.jpg" alt="">
                </a>
            </div>
    </div>
    <div class="details">
        <div class="container">
            <div class="row mb-3">
                <div class="col-12 col-md-6 mt-4">
                    <div class="details-texte">
                            <h1 class=" fw-bold off">Offrez-vous une course sûre et abordable</h1>
                                <div class="text-content">
                                        <h3>Vous cherchez un taxi à kinshasa</h3>
                                        <p class="text-left">Commandez-en un avec Transkin</p>
                                    <br>
                                    <h3>Vous devez vous rendre quelque part et evitez les embouteillages ?</h3><br>
                                    <p>avec notre classe moto, il fest facile de commander une course à gombe ainsi que dans quartiers, en laissant les embouteillages derrière vous. <br>
                                    D'un simple geste, commandez un véhicule Transkin et rendez-vous où vous voulez. <br>
                                    Le soir, profitez de la vie nocturne à kinshasa avec voos amis,ajouter jusqu'à arrêts à votre iténaire ou commandez un véhicule pour eux.
                                    </p>
                                </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 mt-5">
                        <div class="details-pic">
                                <img src="/images/1.jpg" alt="" height="300px" width="100%">
                        </div>
                </div>
                <div class="row flex-md-row-reverse my-3">
                    
                <div class="col-12 col-md-6 mt-4">           
                    <div class="second-image">
                        <img src="/images/2.jpg" alt="" height="300px" width="100%">
                    </div>
                </div>
                <div class="col-12 col-md-6 mt-4">
                    
                    <div class="second-text">
            <h1 class="mt-4">évitez les embouteillages avec la classe moto</h1>
            <br>
            <div class="second-content mb-2">
                <p class=" mb-3"> voyager sans tracas pendant les heures de pointes. <br>
                Portez des courses directements dans votre porte à Gombe, Kintambo, Barumbu, et dans d'autres quartiers. Esaayez avec une bonne réduction de 20% sur votre prémière course en moto
                </p>
            </div>
            <a href="#" class="text-decoration-none">Commander une course à moto</a>
                    </div>
                </div>
                </div>
                </div>

            </div>
        </div>
    </div>
</div>


