<div class="login-content">
    <div class="backdrop bg-success"></div>
    <div class="form">
        <div class="form-text">
            <h1 class="logo text-light text-center">Trans<span>kin</span></h1>
            <p class="text-center text-light">facilitez-vous la vie en courant dérrière le temps !</p>
        </div>
        <form action="/">
            <h1>Sign Up</h1>
            <div class="form-group my-2">
                <input type="text" class="form-control" placeholder="Nom complet" name="name">
            </div>
            <div class="form-group my-2">
                <input type="email" class="form-control" placeholder="E-mail" name="email">
            </div>
            <div class="form-group my-2">
                <input type="password" class="form-control" placeholder="Mot de passe" name="password">
            </div>
            <div class="form-group my-2">
                <input type="password" class="form-control" placeholder="Confirme le mot de passe" name="password">
            </div>
            <button class=" btn btn-success w-100 mb-3">Sign Up</button>
            <p class="text-center mb-3"> Avez-vous déjà un compte ?</p>
            <a href="/login" class="btn quest">Connectez-vous !</a>
            
        </form>
    </div>
</div>